# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': {'$eq':20}}

# Use count_documents to display the number of documents in the result
hygiene_20_documents_count = establishments.count_documents(query)
print(f'Number of documents which has a hygiene score equal to 20 is {hygiene_20_documents_count}')
# Display the first document in the results using pprint
hygiene_results = list(establishments.find(query))
pprint(hygiene_results[0])

Number of documents which has a hygiene score equal to 20 is 41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('667928ac8308177e7d300c3a'),
 'geocode': {'latitude': 50.769705, 'longitude': 50.769705},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [25]:
# Convert the result to a Pandas DataFrame
hygiene_20_df = pd.json_normalize(hygiene_results)
# Display the number of rows in the DataFrame
row_count = hygiene_20_df.shape[0]
print(f'Number of rows is {row_count}')
# Display the first 10 rows of the DataFrame
hygiene_20_df.head(10)

Number of rows is 41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,667928ac8308177e7d300c3a,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,50.769705,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,667928ac8308177e7d300fc9,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,51.857536,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,667928ac8308177e7d3012c9,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,51.789429,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,667928ac8308177e7d3014b7,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,50.770885,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,667928ac8308177e7d3014c7,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,50.770724,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,667928ac8308177e7d301e66,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,51.541448,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,667928ac8308177e7d30208c,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,51.535007,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,667928ac8308177e7d3035af,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,51.591515,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,667928ac8308177e7d3039f9,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,51.185947,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,667928ac8308177e7d304217,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,51.570050,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [8]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName': {"$regex": "London"},
         'RatingValue': {'$gte': 4}}

# Use count_documents to display the number of documents in the result
London_rate_4_count = establishments.count_documents(query)
print(f'Number of documents which is in London and has a Rating value greater than or equal to 4 is {London_rate_4_count}')
# Display the first document in the results using pprint
London_4_results = list(establishments.find(query))
pprint(London_4_results[0])

Number of documents which is in London and has a Rating value greater than or equal to 4 is 33
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('667928ac8308177e7d30265d'),
 'geocode': {'latitude': 51.369321, 'longitude': 51.369321},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [24]:
# Convert the result to a Pandas DataFrame
London_4_df = pd.json_normalize(London_4_results)
# Display the number of rows in the DataFrame
row_count = London_4_df.shape[0]
print(f'Number of rows is {row_count}')
# Display the first 10 rows of the DataFrame
London_4_df.head(10)

Number of rows is 33

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,667928ac8308177e7d30265d,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,51.369321,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,667928ac8308177e7d30297e,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,51.123623,51.123623,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,667928ac8308177e7d3034d3,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,51.543831,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,667928ac8308177e7d3042c6,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,51.464066,51.464066,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,667928ac8308177e7d3042ca,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,51.464078,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,667928ac8308177e7d3049d6,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,51.504071,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,667928ad8308177e7d306aea,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,51.501121,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,667928ad8308177e7d306eac,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,51.503733,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,667928ad8308177e7d306ebd,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,51.504112,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,667928ad8308177e7d306ebe,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,51.504112,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [12]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = establishments.find_one({"BusinessName": "Penang Flavours"})['geocode']['latitude'] 
longitude = establishments.find_one({"BusinessName": "Penang Flavours"})['geocode']['longitude'] 
lat_min = latitude - degree_search
lat_max = latitude + degree_search
long_min = longitude - degree_search
long_max = longitude + degree_search

# Define the query
query = {"RatingValue": 5,
         "geocode.latitude": {"$gte": lat_min, "$lte": lat_max},
         "geocode.longitude": {"$gte": long_min, "$lte": long_max}}

# Sort by hygiene score
sort = [("scores.Hygiene", 1)]

# Limit to top 5 establishments
limit = 5 

# Print the results
top_5_results = list(establishments.find(query).sort(sort).limit(limit))
pprint(top_5_results)

[{'AddressLine1': 'The Oak',
  'AddressLine2': 'Lodge Lane',
  'AddressLine3': 'Grays',
  'AddressLine4': 'Essex',
  'BusinessName': 'The Oak At Sockets Heath',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'ChangesByServerID': 0,
  'Distance': 4638.029750999956,
  'FHRSID': 390727,
  'LocalAuthorityBusinessID': '15410/2003/2/000',
  'LocalAuthorityCode': '894',
  'LocalAuthorityEmailAddress': 'foodsafety@thurrock.gov.uk',
  'LocalAuthorityName': 'Thurrock',
  'LocalAuthorityWebSite': 'http://www.thurrock.gov.uk/food',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'RM17 5RZ',
  'RatingDate': '2022-07-22T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('667928ac8308177e7d3044e4'),
  'geocode': {'latitude': 51.488892, 'longitude': 51.488892},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/390727',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}},
 {'AddressLine1': '34 High Street',
  'AddressLine2': 'Aveley',
  'AddressLine3': 'South Ockendon',
  'AddressLine4': 'Essex',
  'BusinessName': 'Essex Chef',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'ChangesByServerID': 0,
  'Distance': 4641.3552683351045,
  'FHRSID': 1502433,
  'LocalAuthorityBusinessID': '22/00112/CP',
  'LocalAuthorityCode': '894',
  'LocalAuthorityEmailAddress': 'foodsafety@thurrock.gov.uk',
  'LocalAuthorityName': 'Thurrock',
  'LocalAuthorityWebSite': 'http://www.thurrock.gov.uk/food',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'RM15 4AD',
  'RatingDate': '2022-07-19T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('667928ac8308177e7d304c9b'),
  'geocode': {'latitude': 51.4985144, 'longitude': 51.4985144},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1502433',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}},
 {'AddressLine1': 'Unit 2 The Boardwalk',
  'AddressLine2': 'Intu Lakeside',
  'AddressLine3': 'West Thurrock Way',
  'AddressLine4': 'West Thurrock',
  'BusinessName': 'Bourgee',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'ChangesByServerID': 0,
  'Distance': 4640.067429127063,
  'FHRSID': 1400430,
  'LocalAuthorityBusinessID': '21/00171/CP',
  'LocalAuthorityCode': '894',
  'LocalAuthorityEmailAddress': 'foodsafety@thurrock.gov.uk',
  'LocalAuthorityName': 'Thurrock',
  'LocalAuthorityWebSite': 'http://www.thurrock.gov.uk/food',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'RM20 2ZN',
  'RatingDate': '2022-06-30T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('667928ac8308177e7d304900'),
  'geocode': {'latitude': 51.487302, 'longitude': 51.487302},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1400430',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}},
 {'AddressLine1': '21 Southend Road',
  'AddressLine2': 'Grays',
  'AddressLine3': 'Essex',
  'AddressLine4': '',
  'BusinessName': 'Macchiatos',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'ChangesByServerID': 0,
  'Distance': 4637.945045824783,
  'FHRSID': 1385053,
  'LocalAuthorityBusinessID': '21/00149/CP',
  'LocalAuthorityCode': '894',
  'LocalAuthorityEmailAddress': 'foodsafety@thurrock.gov.uk',
  'LocalAuthorityName': 'Thurrock',
  'LocalAuthorityWebSite': 'http://www.thurrock.gov.uk/food',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'RM17 5NH',
  'RatingDate': '2022-08-04T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('667928ac8308177e7d3044be'),
  'geocode': {'latitude': 51.4837954, 'longitude': 51.4837954},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1385053',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}},
 {'AddressLine1': '7 Stanford House',
  'AddressLine2': 'Princess Margaret Road',
  'AddressLine3': 'East Tilbury',
  'AddressLine4': 'Essex',
  'BusinessName': "Nancy's Sandwich Bar",
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'ChangesByServerID': 0,
  'Distance': 4634.858686758785,
  'FHRSID': 390400,
  'LocalAuthorityBusinessID': '09/00040/CP',
  'LocalAuthorityCode': '894',
  'LocalAuthorityEmailAddress': 'foodsafety@thurrock.gov.uk',
  'LocalAuthorityName': 'Thurrock',
  'LocalAuthorityWebSite': 'http://www.thurrock.gov.uk/food',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'RM18 8YP',
  'RatingDate': '2022-05-23T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('667928ac8308177e7d303c40'),
  'geocode': {'latitude': 51.480638, 'longitude': 51.480638},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/390400',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}}]

In [14]:
# Convert result to Pandas DataFrame
top_5_df = pd.json_normalize(top_5_results)
top_5_df

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,667928ac8308177e7d3044e4,390727,0,15410/2003/2/000,The Oak At Sockets Heath,Pub/bar/nightclub,7843,The Oak,Lodge Lane,Grays,...,51.488892,51.488892,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,667928ac8308177e7d304c9b,1502433,0,22/00112/CP,Essex Chef,Takeaway/sandwich shop,7844,34 High Street,Aveley,South Ockendon,...,51.498514,51.498514,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,667928ac8308177e7d304900,1400430,0,21/00171/CP,Bourgee,Restaurant/Cafe/Canteen,1,Unit 2 The Boardwalk,Intu Lakeside,West Thurrock Way,...,51.487302,51.487302,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,667928ac8308177e7d3044be,1385053,0,21/00149/CP,Macchiatos,Restaurant/Cafe/Canteen,1,21 Southend Road,Grays,Essex,...,51.483795,51.483795,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,667928ac8308177e7d303c40,390400,0,09/00040/CP,Nancy's Sandwich Bar,Restaurant/Cafe/Canteen,1,7 Stanford House,Princess Margaret Road,East Tilbury,...,51.480638,51.480638,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [20]:
# Create a pipeline that:

# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': 0}}

# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': "$LocalAuthorityName", 'count': { '$sum': 1 }}}

# 3. Sorts the matches from highest to lowest
sort_values = {"$sort": {"count": -1}}

# Put the pipeline together
pipeline = [match_query, group_query, sort_values]

# Print the number of documents in the result
hygiene_0_results = list(establishments.aggregate(pipeline))
print(f'The number of documents in the results is {len(hygiene_0_results)}')
# Print the first 10 results
pprint(hygiene_0_results[0:10])

The number of documents in the results is 55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [23]:
# Convert the result to a Pandas DataFrame
hygiene_0_df = pd.json_normalize(hygiene_0_results)
# Display the number of rows in the DataFrame
row_count = hygiene_0_df.shape[0]
print(f'Number of rows is {row_count}')
# Display the first 10 rows of the DataFrame
hygiene_0_df.head(10)

Number of rows is 55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542